.span12
  %h2
    Edit Topic "#{@topic.title}" in Forum "#{@forum.title}"
  = simple_form_for(@topic, :url => forum_topic_path(@forum.slug, @topic.slug.blank? ? @topic.slug_was : @topic.slug), :html => {:class => 'project-form well form-horizontal'}) do |f|
    = render 'form', :f => f
