.span12
  %h2= t "topics.new_topic_in_forum", :forum => @forum.title
  = simple_form_for(@topic, :url => forum_topics_path(@forum.slug), :html => {:class => 'project-form well form-horizontal'}) do |f|
    = render 'form', :f => f
