%ul.breadcrumb
  %li
    =link_to "Forum", forums_path
    %span.divider
      \/
  %li
    =link_to @forum.title, forum_path(@forum.slug)
    %span.divider
      \/
  %li.active
    =@topic.title
.row
  .span12
    .comment{:id => "topic#{@topic.id}"}
      .face
        =gravatar_image_tag(@topic.user.email, :gravatar => {:size => 50})
      .created_at
        =@topic.user.display_name
        =distance_of_time_in_words_to_now(@topic.created_at)
        ago

      .content.markdown
        =markdown(@topic.description)

      .actions
        -if user_signed_in?
          -if can? :manage, @topic
            =link_to "Edit", edit_forum_topic_path(@forum.slug,@topic.slug), :class => "btn btn-success"
          -if can? :manage, "Administration"
            =link_to "Delete", forum_topic_path(@forum.slug,@topic.slug), :method => :delete, :confirm => "Are You sure to delete #{@topic.title}?", :class => "btn btn-danger"
        
  =comments_for(@topic, :disable_new_comments => !@topic.commentable)
