.comment {
  margin: 8px 0;
  padding: 8px 8px 4px 43px;
  border-bottom: solid 1px #999;
  .face {
    float: left;
    margin: 0px auto auto -37px;
    width: 30px;
    text-align: center;
    img {
      
    }
  }
  
  .created_at {
    color: #999;
    margin: -4px auto 0px auto;
    font-style: italic;
    font-size: 85%;
  }
  .content {
    p {
      margin-bottom: 2px;
    }
  }
  .unread-comment {
    font-weight: bold;
  }
  .actions {
    display: none;
    float: right;
  }
  &:hover .actions {
    display: block;
  }
}
.comment-replies {
  margin-left: 30px;
   .comment-replies .comment-replies .comment-replies .comment-replies .comment-replies .comment-replies {
    margin-left: 0;
  }
}
.comments {
  margin-left: 65px;
  .controls.buttons {
    margin-left: 0px;
  }
  .markdown {
    .controls {
      margin-left: 0px;
    }
    textarea {
      width: 99%;
      height: 100px;
    }
  }
}
.tab-content {
  .comments {
    margin-left: 0px;
    .markdown textarea {
      width: 98%;
    }
  }
}