.forums {
  .action-group {
    float: right;
  }
  .forum {
    
  }
  .topics {
    .topic {
      margin: 5px auto 5px auto;
      padding-bottom: 5px;
      border-bottom: 1px solid #999;
    }
  }
}